@{
    ViewData["Title"] = "Home Page";
}

<h1>Chat</h1>
<input type="text" id="username" placeholder="your name Here!!" />
</br>
<input type="text" id="group" placeholder="Group here!!" />
</br>
<input type="text" id="txt" placeholder="Message here!!" />
</br>
<input type="button" value="Send to All" onclick="send()" />
<input type="button" value="Send to Group" onclick="sendtogroup()" />
<input type="button" value="join" onclick="joingroup()" />
<br />
<ul id="ul">
</ul>

@section Scripts {

    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script>
        //define connection
        con = new signalR.HubConnectionBuilder().withUrl("/chat").build();

        //start connection
        con.start();

        //define call back fun
        con.on("newmessage", function (n, m) {
            $("#ul").append("<li>" + n + ":" + m + "</li>");
        })

        con.on("newmember", function (message) {
            $("#ul").append("<li>" + message + "</li>");
        })

        con.on("newgroupmessage", function (name, groupname, message) {
            $("#ul").append("<li>" + name + "[" + groupname + "]" + ":" + message + "</li>");
        })

        //define fun to consume server
        function send() {
            con.invoke("sendmessage", $("#username").val(), $("#txt").val())
        }

        function joingroup() {
            con.invoke("joingroup", $("#username").val(), $("#group").val())
        }

        function sendtogroup() {
            con.invoke("sendtogroup", $("#username").val(), $("#group").val(), $("#txt").val())
        }
    </script>
}